@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 95vw;
}
.fh{
  height: 100%;
}
.map{
  height: 90% !important;
}
