<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="Tool to quickly check health department inspections but you know in map form. " name="description"/>
    <meta content="Food Inspection,Seattle,restaurants,rating,map" name="keywords"/>
    <link href="static/css/main.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"></link>
    <title>Food Inspection Map</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="static/js/main.js"></script>
  </body>
</html>

